* {
    /* outline: 2px solid red; */
}

body {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FFFDD0;
    
}
h1 {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    font-size: 20px;
    font-family: "Brush Script MT", sans-serif;
    text-align: center;
    
}

img {
    display: block;
}


